@import './base.scss';
@import './variables.scss';
@import './mixins.scss';

.main {
  position: relative;
  height: 100vh;

  &__nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;

    // COMMENT: this height prevents navbar from jumping around when svg is transitioning
    height: 112px;
    width: min-content;
    padding: 4rem;
    overflow-x: hidden;

    @media screen and (max-width: 830px) {
      grid-template-columns: 1fr auto 1fr;
      justify-items: center;
      width: 100%;
    }

    &__menu-icon {
      display: none;
      fill: var(--primary-white);

      transition: fill 0.4s ease, opacity 0.4s ease;
      cursor: pointer;

      &--active {
        position: relative;
        z-index: 99999;
        fill: var(--primary-dark-gray);
      }

      &:hover {
        fill: var(--primary-dark-gray);
        transition: none;
      }

      @media screen and (max-width: 830px) {
        display: block;
        justify-self: start;
      }
    }
    &__close-icon {
      display: none;
      justify-self: start;

      position: relative;
      z-index: 9999;

      cursor: pointer;
      fill: var(--primary-dark-gray);
      transition: opacity 0.4s ease;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;

      list-style-type: none;
      transition: transform 0.4s ease;

      &--active {
        transform: translate3d(0%, 0, 0) !important;
      }

      &__item {
        color: var(--primary-white);
        font-weight: 700;
        text-transform: lowercase;
        @include animation;

        @media screen and (max-width: 830px) {
          color: var(--primary-black);
        }
      }

      @media screen and (max-width: 830px) {
        justify-content: flex-end;
        position: absolute;

        height: 100%;
        width: 100%;
        padding-inline: 2rem;
        background-color: var(--primary-white);
        transform: translate3d(100%, 0, 0);
      }
    }
  }

  &__section {
    display: grid;
    grid-template-columns: 55% auto;

    &__slider {
      position: relative;

      width: 100%;
      height: 100%;
      overflow: hidden;

      &__wrapper {
        height: 100%;
        min-height: 55vh;
      }

      &__slide {
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center center;
      }
    }
    &__text {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 2.5rem;

      padding: 7rem 6rem;
      padding-top: clamp(3rem, 7vw, 9rem);
      padding-bottom: 10rem;

      position: relative;

      @media screen and (max-width: 830px) {
        padding-block: 8rem;
        padding-block: clamp(5rem, 10vw, 10rem);
      }

      &__heading {
        font-size: 3rem;
        transition: opacity 0.4s ease;
      }
      &__info {
        color: var(--primary-dark-gray);
        line-height: 1.75;
        letter-spacing: 0.5px;

        transition: opacity 0.4s ease;
      }
      &__button {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.75rem;

        font: inherit;
        font-size: 1.25rem;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: var(--primary-black);

        margin-top: 1rem;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;

        cursor: pointer;
        transition: color 0.4s ease;

        svg {
          fill: currentColor;
        }

        &:hover {
          color: var(--primary-dark-gray);
        }
      }

      &__arrows {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        left: 0;

        @media screen and (max-width: 830px) {
          bottom: 100%;
          left: unset;
          right: 0;
        }

        &__arrow {
          padding: 2.75rem;
          border-radius: 0;
          border: none;
          opacity: 1;
          background-color: var(--primary-black);

          cursor: pointer;
          transform: none;
          transition: background-color 0.4s ease;

          @media screen and (max-width: 830px) {
            padding: 2.25rem;
          }

          &:hover {
            opacity: 1;
            background-color: var(--primary-very-dark-gray);
          }
        }
      }
    }

    &__image {
      display: block;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__about {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 2rem;
      padding: 5rem 7rem;

      &__heading {
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      &__info {
        color: var(--primary-dark-gray);
        line-height: 1.75;
        letter-spacing: 1px;
      }

      @media screen and (max-width: 830px) {
        padding-inline: 2rem;
      }
    }

    &--about {
      grid-template-columns: auto 42.24% auto;
    }

    @media screen and (max-width: 830px) {
      grid-template-columns: 100%;
      grid-template-rows: 5% 35% auto;
    }
  }
}

.attribution {
  display: none;
}
