@mixin animation {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';

    position: absolute;
    top: 150%;
    left: 50%;

    width: 2rem;
    height: 2px;
    background-color: white;

    transform: translate(-50%, 0%) scaleX(0);
    transition: transform 0.4s ease;
  }
  &:hover::after {
    transform: translate(-50%, -0%) scaleX(1);
  }
}
